 .u-section-1 {
  background-image: linear-gradient(#478ac9, #72efe9);
}

.u-section-1 .u-sheet-1 {
  min-height: 898px;
}

.u-section-1 .u-image-1 {
  width: 158px;
  height: 158px;
  margin: 0 auto;
}

.u-section-1 .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 252px;
  margin: -41px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 473px;
  height: auto;
  width: 753px;
  margin: 66px auto 0;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 43px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 43px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(247, 82, 25) !important;
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -14px;
    margin-left: -50px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: -66px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}